  <div><%= f.label :name,User.human_attribute_name("name")  %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email,User.human_attribute_name("email")  %><br />
  <%= f.text_field :email %></div>

  <div><%= f.label :password,User.human_attribute_name("password") %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation,User.human_attribute_name("password_confirmation") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password,User.human_attribute_name("current_password") %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>


