<h2><%= User.human_attribute_name("create_user") %> </h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name,User.human_attribute_name("name")  %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email,User.human_attribute_name("email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password,User.human_attribute_name("password") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation,User.human_attribute_name("password_confirmation") %><br />
  <%= f.password_field :password_confirmation %></div>

  <p><%= f.submit t("common.register") %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
