<% content_for(:head) do -%>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'live-comment-preview' %>

<% end -%>
<% content_for(:page_title) do -%>
  <%= post_title(@post) -%>
<% end -%>
<div id="topic_show" class="topics box">
  <%= render :partial => 'posts/post', :locals => {:post => @post} %>
  <div class="related">Looking for more? Head on over to the <%= link_to("archives", archives_path) %>.</div>
</div>

<div id="replies" class="box">
<a name="comments" href="#comments"></a>
<% if @post.approved_comments.empty? -%>
	<p>There are no comment yet.</p>
<% else -%>
  <%= render :partial => 'comments/comments_list', :locals => {:post => @post} %>
<% end -%>
</div>

<div id="reply" class="form box">
  <%= render :partial => 'comments/edit_comment', :locals => {:post => @post,:comment=>@comment} %>
</div>
