<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'tagcloud' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <div id="page_container">
    <div id="content">
      <h1 id="page_heading"><a href="<%= root_url %>"><%= enki_config[:title] %></a></h1>

      <div id="main">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

        <%= yield %>
      </div>

      <div id="navigation">
        <h2>Pages</h2>
        <ul>
          <% page_links_for_navigation.each do |link| -%>
            <li><%= link_to(link.name, link.url) %></li>
          <% end -%>
        </ul>
        <form method="get" id="sform" action="http://www.google.com/search">
          <div>
            <h2><label for="q">Search</label></h2>

            <input type="text" id="q" value="" name="q">
            <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
          </div>
        </form>
        <% unless category_links_for_navigation.empty? -%>
          <h2>Categories</h2>
          <div id="tagcloud">
            <% category_links_for_navigation.each do |link| -%>
              <%= link_to link.name, link.url, :title=>link.class,:rel=>link.rel %>

            <% end -%>
          </div>
        <% end -%>
        <% unless recent_comments_for_navigation.empty? -%>
          <h2>Recent comments</h2>
          <ul>
            <% recent_comments_for_navigation.each do |comment| -%>
              <li><%= comment.author %> in <a href="<%= post_path(comment.post) %>#comment-<%= comment.id %>" title=""><%= comment.post.title %></a></li>
            <% end -%>
          </ul>
        <% end -%>
        <div id="user_nav">    
        <h2>Admin</h2>
          <ul>
          <% if user_signed_in? %>    
             <li>Signed in as <%= current_user.email %>. Not you?    
            <%= link_to "Sign out", destroy_user_session_path %></li>
          <% else %>
             <li>Please,<%= link_to "Sign up", new_user_registration_path %> or    
             <%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
          <ul> 
        </div>
      </div>

      <div id="footer"><%= enki_config[:title] %> &#169; <%= enki_config[:author, :name] %>. Valid <a href="http://validator.w3.org/check?uri=referer">HTML5</a> and <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{enki_config[:url]}/posts.atom" %>. Powered by <a href="<%= enki_config[:url]%>" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a>.</div>
    </div>
  </div>

</body>
</html>
