<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "front" %>
  <%= stylesheet_link_tag "topics" %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'tagcloud' %>

  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= favicon_link_tag %>

  <%= yield(:head) %>
</head>
<body>
  <div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
      <div class="container">
        <%= render :partial => 'common/menu' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="page-header">
        <%= render :partial => 'common/header' %>
      </div>

      <ul class="breadcrumb menu clearfix">
        <%= breadcrumbs.render(:format => :inline, :separator => '>>') %>
      </ul>

      <div id="main" class="container-fluid">
        <div class="sidebar">
          <%= render :partial => 'common/sidebar' %>
        </div>
        <div class="content">
          <div class="content box">
            <div id="node_info">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
            <div class="content box">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <%= render :partial => 'common/footer' %>
    </footer>
</body>
</html>
